<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complaint Details</title>
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/admin-styles.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>

    <!-- Header Section -->
    <header>
        <div class="header-container">
            <h2>XAWFTLY Admin</h2>
            <nav>
                <ul>
                    <li><a href="/wallet/admin/dashboard">Dashboard</a></li>
                    <li><a href="/wallet/admin/settings">Settings</a></li>
                    <li><a href="/wallet/admin/add-admin">Add Admin</a></li>
                    <li><a href="/wallet/admin/logout">Logout</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <!-- Main Content Section -->
    <main class="container mt-5">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3 id="complaintTitle"><%= complaint.name %></h3>
                        <p id="complaintDate">Date: <%= Date.now() %></p>
                    </div>
                    <div class="card-body">
                        <div class="card-body">
                            <h4 class="card-title" id="complaintSubject"><%= complaint.subject %></h4>
                        
                            <div class="mb-3">
                                <div>
                                    <span class="text-muted">Reported by:</span>
                                    <span id="complaintUser"><%= complaint.email %></span>
                                </div>
                                <div>
                                    <span class="text-muted">Date:</span>
                                    <span id="complaintDate"><%= complaint.createdAt.toString() %></span>
                                </div>
                            </div>
                        
                            <p class="card-text" id="complaintBody">
                                <%= complaint.body %>                    </p>
                        
                            <div class="mt-3">
                                <center><a class="btn btn-success" href="/wallet/admin/searches">Resolve</button></center>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </main>

    <!-- Footer Section -->
    <footer class="bg-dark text-light text-center">
        <p class="py-3">&copy; 2023 xawftly Complaints Portal</p>
    </footer>
</body>

</html>
